@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Scripts.Render("~/bundles/bootstrap");
}

<link rel="stylesheet" type="text/css" href="~/Content/Msg.css">
<script src='~/Scripts/jquery-3.1.1.min.js'></script>
<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script src="~/Scripts/textboard.js"></script>
<div class="messages">
    <ul>
        <li><a class="active" href="#new">Nowa wiadomość</a></li>
        <li><a href="#mailbox">Skrzynka odbiorcza</a></li>
    </ul>
    <div id="msgboard">
        <form>
            <div class="input-group">
                <span class="input-group-addon">Odbiorca</span>
                <input id="To" type="text" class="form-control" name="msg" placeholder="">
            </div>
            <div class="input-group">
                <span class="input-group-addon">Temat</span>
                <input id="Subject" type="text" class="form-control" name="msg" placeholder="">
            </div>
        </form>
        <textarea></textarea>
        <button type="button" class="btn btn-default">Wyślij</button>
    </div>
</div>
