@model ProjektSWR.Models.Search

@{ 
    Layout = null;
}
<input id="list" list="users" name="userlist" style="color:black;"/>
<datalist id="users">
    @foreach (var item in Model.users)
    {
        <option id=@item.Id> @Html.HiddenFor(model=>item.Id) @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</option>
    }
</datalist>
<button type="button" id="search-user" class="btn btn-primary">
    <span class="glyphicon glyphicon-ok" aria-hidden="false"></span>
</button>

<script src="~/Scripts/Search/WhichSelected.js"></script>