
@{
    Layout = null;
}
<div class="transitor">
    <button id="response_btn" class="btn btn-default">Odpowiedz</button>
    <button id="go_to_response" class="btn btn-default">Przejdź wyżej <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button>
    <button id="delete_selected_btn" class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
    <div id="messageContent"></div>
</div>