
@{
    Layout = null;
}
<div id="message_content_form">
    <button id="response_btn">Odpowiedz</button>
    <a id="go_to_response">Ta wiadomość jest odpowiedzią na tę wiadomość</a>
    <button id="delete_selected_btn">Usuń wiadomość</button>
    <div id="messageContent"></div>
</div>
