@{ 
    Layout = null;
}
<div class="transitor">
    <label>Odbiorca:</label>
    <button id="add_user" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    <button id="remove_user" class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
    <div class="input-group">
        <span class="input-group-addon">Odbiorca</span>
        <div id="comboboxes"></div>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Temat</span>
        <input id="subject" type="text" class="form-control" maxlength="50">
    </div>
    <div id="messageContent"></div>
    <button id="send_button" class="btn btn-default">Wyślij</button>
</div>