@{ 
    Layout = null;
}
<div id="new_message_inputs">
    <form>       
        <label>Odbiorca: </label>
        <input list="combobox" id="users_combobox">
        <datalist id="combobox">
            
        </datalist>
        <div class="input-group">
            <span class="input-group-addon">Temat</span>
            <input id="Subject" type="text" class="form-control">
        </div>
    </form>
    <div id="messageContent"></div>
    <button id="send_button">Wyślij</button>
</div>
