@model ProjektSWR.Models.Message

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Messages/Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css">
<style>
    
</style>
<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/textboard.js"></script>
<script src="~/Scripts/Messages/newMessage.js"></script>


<div id="msgboard">
    <form>
        <div class="ui-widget">
            <label>Odbiorca: </label>
            <select id="combobox">
                <option value=""></option>
            </select>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Temat</span>
            <input id="Subject" type="text" class="form-control">
        </div>
    </form>
    <textarea id="messageContent"></textarea>
    <button type="button" class="btn btn-default" onclick="sendMessage()">Wyślij</button>
</div>
