@{
    Layout = null;
}
<div class="transitor">
    <button id="delete_selected_btn" class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
    <table class="inbox_table">
        <tr>
            <th><input type="checkbox" id="select_all" /></th>
            <th>Nadawca</th>
            <th>Temat</th>
            <th>Data wysłania</th>
        </tr>
    </table>
</div>