@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Wiadomości";
}

<link rel="stylesheet" type="text/css" href="~/Content/Messages.css">

<script src="~/dist/messages-bundle.js"></script>
<div class="messages">
    <ul>
        <li><a id="new_message">Nowa wiadomość</a></li>
        <li><a id="inbox">Skrzynka odbiorcza</a></li>
        <li><a id="sent">Wysłane</a></li>
    </ul>
    <div id="content">
    </div>
</div>
