@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Wiadomości";
}

<link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/Messages.css">


<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

<script src="~/Scripts/Messages/newMessage.js"></script>
<script src="~/Scripts/Messages/newMessage_input.js"></script>
<script src="~/Scripts/Messages/inbox.js"></script>
<script src="~/Scripts/Messages/sent.js"></script>
<script src="~/Scripts/Messages/controller.js"></script>

<div class="messages">
    <ul>
        <li><a id="new_message" onclick="loadNewMessage()">Nowa wiadomość</a></li>
        <li><a id="inbox" onclick="loadInbox()">Skrzynka odbiorcza</a></li>
        <li><a id="sent" onclick="loadSent()">Wysłane</a></li>
    </ul>
    <div id="content">
    </div>
</div>
