@{
    Layout = null;
}
<button id="delete_selected_btn">Usuń zaznaczone wiadomości</button>
<table class="sent_table">
    <tr>
        <th>  </th>
        <th>Odbiorca</th>
        <th>Temat</th>
        <th>Data wysłania</th>
        <th>Data wyświetlenia</th>
    </tr>
</table>
