@{
    Layout = null;
}
<button id="delete_selected_btn" class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
<table class="sent_table">
    <tr>
        <th><input type="checkbox" id="select_all" /></th>
        <th>Odbiorca</th>
        <th>Temat</th>
        <th>Data wysłania</th>
        <th>Data wyświetlenia</th>
    </tr>
</table>
