@{
    ViewBag.Title = "Profile";
}

@Styles.Render("~/Content/UPPS/one.css")

<div id="mainbeam">
    <h3>Dane personalne</h3>
</div>
<div id="space" style="padding-bottom: 20px;">
    <div id="photo">

    </div>
    <center>
        <div id="swimmingpool">
            <h4>mgr Jan Kowalski</h4>
        </div>
    </center>
    <div id="swimmingpool">
        Wydział:
    </div>
    <div id="swimmingpool">
        Katedra:
    </div>
    <div id="swimmingpool">
        Telefon:
    </div>
    <div id="swimmingpool">
        E-mail:
    </div>

</div>

<div id="mainbeam">
    <h3>Kalendarz</h3>

</div>
