
.messages ul {
    top: 10px;
    list-style-type: none;
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    background-color: #f1f1f1;
    max-width: 20%;
    min-height: 500px;
    float: left;
}

.messages li {
    padding: 0px;
}

.messages li a {
    display: table;
    color: black;
    text-decoration: none;
    width: 100%;
    padding: 10px;
}

.messages li a.active {
    background-color: #003c82;
    color: white;
}

.messages li a:hover:not(.active) {
    background-color: #555;
}

#new_message {
    font-weight: 700;
}

#new_message a {
    margin-bottom: 10px;
}

#new_message_inputs {
    float: right;
    max-width: 80%;
    overflow: hidden;
    margin-top: 40px;
    max-height: 300px;
}
#content {
    margin-top: 0px;
    margin-left: 15px;
}
#messageContent {
    
}

.custom-combobox {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0px;
    margin-left: -1px;
    padding: 0;
    height: 32px;
}

.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}

.ui-draggable, .ui-droppable {
    background-position: top;
}

.inbox_table, .sent_table {
    border: 2px black solid;
    border-collapse: collapse;
}

.inbox_table td, .sent_table td {
    border: 2px grey solid;
}
