/* Index */

div.messages {
    height: 100%;
    margin: 0;
}

.messages ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #f1f1f1;
    min-width: 100px;
    width: 10%;
    height: 70vh;
    float: left;
}

.messages li {
    padding: 0px;
    cursor: pointer;
    min-width: 100px;
    min-height: 40px;
}

.messages li a {
    display: table;
    color: black;
    text-decoration: none;
    width: 100%;
    padding: 10px;
}

.messages li a.active {
    background-color: #003c82;
    color: white;
}

.messages li a:hover:not(.active) {
    background-color: #555;
}

#content {
    margin-left: 170px;
    width: 85%;
    max-height: 100%;
    overflow: auto;
}

#new_message {
    font-weight: 700;
}

#new_message a {
    margin-bottom: 10px;
}

.full-window {
    height: 100%;
    transition: height 10s ease-in;
}

/* Inbox / Sent */

#delete_selected_btn {
    padding: 5px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
}

.glyphicon-trash {
    font-size: 25px;
}

.inbox_table, .sent_table {
    left: 0px;
    border-collapse: collapse;
    cursor: pointer;
}

.inbox_table th, .sent_table th {
    text-align: center;
    padding: 5px;
    height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.inbox_table th:not(:first-child), .sent_table th:not(:first-child) {
    min-width: 120px;
    width: 250px;
}

.inbox_table th:nth-child(3) {
    min-width: 150px;
    width: 100%;
    text-align: left;
}

.sent_table th:nth-child(3) {
    min-width: 150px;
    width: 100%;
    text-align: left;
}

.inbox_table td:nth-child(3), .sent_table td:nth-child(3) {
    text-align: left;
    padding-left: 3px;
}

.inbox_table tr, .sent_table tr {
    color: black;
    border: solid 2px grey;
    width: 100%;
}

.inbox_table tr:nth-child(even), .sent_table tr:nth-child(even) {
    background-color: white;
}

.inbox_table tr:nth-child(odd), .sent_table tr:nth-child(odd) {
    background-color: #EEEEEE;
}

.inbox_table tr:first-child, .sent_table tr:first-child {
    background-color: #003c82;
    border: solid 2px #003c82;
    color: white;
    max-height: 30px;
}

.inbox_table tr:not(:first-child), .sent_table tr:not(:first-child) {
   height: 45px;
}

.inbox_table th:first-child, .sent_table th:first-child,
.inbox_table td:first-child, .sent_table td:first-child
 {
    padding-left: 10px;
    padding-right: 0px;
}

.inbox_table td, .sent_table td {
    padding: 3px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    overflow: auto;
}

.inbox_table td:not(:first-child), .sent_table td:not(:first-child) {
    min-width: 210px;
}

.inbox_table td:nth-child(3), .sent_table td:nth-child(3) {
    padding-left: 0px;
    max-width: 300px;
}

.new_message_row {
    font-weight: 700 !important;
}

.transitor {
    height: 0;
    opacity: 0;
    overflow: auto;
    padding-left: 10px;
    transition: opacity 0.5s ease-in-out;
}

.trans-activated {
    height: 100%;
    opacity: 1;
}

/* Content */

#messageContent {
    border: solid 1px grey;
    min-height: 300px;
}

.glyphicon-arrow-up {
    font-size: 22px;
}

#go_to_response, #response_btn {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    height: 40px;
}

/* New message */

.ql-editor {
    height: 300px;
}

#add_user, #remove_user {
    width: 30px;
    height: 30px;
    padding: 0px;
    align-content: center;
}

.input-group:first-of-type {
    padding-top: 5px;
    padding-bottom: 3px;
}

.input-group {
    padding-top: 0px;
     padding-bottom: 5px;
}

.input-group-addon {
    height: 30px;
}

.input-group-addon {
    width: 80px;
    column-span: 5px;
}

input {
    height: 35px;
    font-size: 16px;
}

.input_error {
    border: solid 1px red;
}

#comboboxes input {
    text-align: center;
    margin-right: 5px;
}

#Subject {
    transition: 1s;
}

#Subject:hover {
    width: 300px;
}

#send_button {
    font-size: 20px;
    margin-top: 5px;
}