
#messages ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#messages li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#messages li a.active {
    background-color: #003c82;
    color: white;
}

#messages li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
