
.messages ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #f1f1f1;
    max-width: 20%;
    height: 500px;
    float: left;
}

.messages li a {
    display: table;
    color: black;
    text-decoration: none;
    width: 100%;
    padding: 10px;
}

.messages li a.active {
    background-color: #003c82;
    color: white;
}

.messages li a:hover:not(.active) {
    background-color: #555;
}

#msgboard {
    float: right;
    max-width: 80%;
    overflow: hidden;
}

