body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    min-height: calc(100vh - 2 * 100px - 12px);
    width: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-toggle {
    border: solid white 3px;
}

.navbar {
    padding-right: 10px;
    background-color: #003c82;
    color: white; 
    font-weight: 700;
    text-transform: uppercase;
    vertical-align: bottom;
}

.nav {
    position: relative; 
    bottom: -35px; 
    right: 0;
    margin-bottom: 30px;
}

#registerLink, #loginLink {
    color: white !important;
}

.white_link, .white_link a {
    color: white !important;
}

#PRZ_LOGO {
    padding: 10px;
}

.icon-bar {
    color: white !important; 
    background-color: white !important;
}

footer {
    height: 100px;
    color: white;
    background-color: #003c82;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

footer hr {
    margin: 0px;
    border-color: white;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 0px;
}


li {
    text-align: center;
}

#notify {
    padding-top: 7px;
}

.notification {
    padding: 12px;
    font-size: 14px;
    margin: 0 -14px;
    border-bottom: 1px #ccc solid;
    cursor: pointer;
}

.notification:first-child { margin-top: -9px; }
.notification:last-child { margin-bottom: -11px; }

.notification-unread {
    background: #def;
}

.notification-read {
    color: #777;
}

.notification-unread .notification-title {
    font-weight: bold;
}

.notifications {
    max-height: 150px;
    overflow-y: auto;
}

.notification-mark-read {
    color: #00a1ff;
    padding: 2px 3px;
    border-radius: 2px;
}

.notification-mark-read:hover {
    background: #00a1ff;
    color: #fff;
}