body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 70px;
    margin-top: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-toggle {
    border: solid white 3px;
}

.navbar, .navbar-inverse, .navbar-fixed-top {
    background-color: #003c82;
    color: white;
    max-height: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.nav, .navbar-nav {
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-collapse {
    height: 300px;
}

.navbar-nav {
    vertical-align: bottom;
}

#registerLink, #loginLink {
    color: white !important;
}

.white_link {
    color: white !important;
}

.white_link a {
    color: white !important;
}

#PRZ_LOGO {
    padding: 10px;
}

.icon-bar {
    color: white !important; 
    background-color: white !important;
}

.navbar-toggle button:hover {
    background-color: none !important;
}

footer {
    max-height: 100px;
    color: white;
    background-color: #003c82;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer hr {
    margin: 0px;
    border-color: white;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 0px;
}

ul {
    position: relative;
    top: 30px;
}

li {
    text-align: center;
    padding: 10px;
}

#notify {
    padding-top: 15px;
}