@model ProjektSWR.Models.Forum

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-left: 100px; margin-right:50px; background-color:#003D82;color:white; border-radius:5px; height:38px;text-indent:10px">

    @Model.Name

</h2>

<table class="table" style="margin-left:120px;width:1150px;border:solid;border-color:#9F9F9F;border-width:2px">

    @foreach (var t in Model.Categories)
    {
        <tr>
            <td>

                @Html.ActionLink(t.Name, "Thr", new { t = t.ID }, t.ID)
            </td>
        </tr>
    }

</table>

<div style="margin-left:100px">

    @Html.ActionLink("Wstecz", "Index")
</div>

<!--
<p>
    @Html.ActionLink("Create New", "Create")
</p>
    -->
