@model IEnumerable<ProjektSWR.Models.Forum>
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<table class="table" background-color:#FFFFFF colour:#FFFFFF>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <form action="SearchThread">
                <input type="submit" value="Wyszukaj wątek" class="btn btn-default">
            </form>
        </td>
        <td>
            <form action="SearchReplies">
                <input type="submit" value="Wyszukaj odpowiedzi" class="btn btn-default">
            </form>
        </td>
    </tr>
</table>




<h2 style="margin-left: 100px; margin-right:50px; background-color:#003D82;color:white; border-radius:5px; height:38px;text-indent:10px">
    Forum dyskusyjne
</h2>
<table class="table" style="margin-left:120px;width:1150px;border:solid;border-color:#9F9F9F;border-width:2px">
    @foreach (var i in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(i.Name, "Cat", new { i = i.ID }, i.ID)
            </td>
        </tr>
    }
</table>
