<!DOCTYPE html>
<html>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>


</head>

<body>

    
        <div class="dropdown">
            <button class="dropbtn">Użytkownicy</button>
            <div class="dropdown-content">
                <a href="~/Panel/ManageUsers">Edytuj</a>
                <a href="~/Panel/LockUsers">Blokuj</a>
                <a href="~/Panel/UnlockUsers">Odblokuj</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Zdarzenia</button>
            <div class="dropdown-content">
                <a href="~/Panel/ManageEvents">Kalendarz</a>
                <a href="~/Panel/EventsList">Lista zdarzeń</a>
            </div>
        </div>
        <div class="dropdown"> 
            <button class="dropbtn">Forum</button>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    
    

</body>
</html>
