
@{
    ViewBag.Title = "Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Panel/index.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <link rel="stylesheet" href="~/Content/Panel.css">
        <ul id="panelMenu" class="navbar-left">
            <li><a href="~/Panel/ManageUsers">Użytkownicy</a></li>
            <li><a href="~/Panel/ManageEvents">Wydarzenia</a></li>
            <li><a href="~/Panel/ManageForums">Forum</a></li>
        </ul>
    </div>
}

